.navbar-wagon {
  background: #2d2b4e;
  font-size: 14px;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  height: 70px;
}

.footer-wagon {
  background-color: black;
  color: white;
  height: 150px;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px 1.5rem;
  box-sizing: border-box;
}

.home-wagon {
  margin: 10px 15px;
  height: 100%;
}

.input {
  height: 30px;
  width: 350px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.card-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  border: 1px solid #ddd;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  height: 500px;
  margin: 10px 15px;
  max-width: 275px;
}

.card-img {
  width: 100%;
}

.card-img img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 250px;
}

.card-body {
  padding: 20px;
}
